<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="images/avatar.svg" type="image/x-icon">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Helica Management
  </title>
  <link rel="stylesheet" href="/fontawesome/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand " style="color: #33C393;font-weight: 500;" href="/products">Helica</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/users">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/invoices">Invoice</a>
          </li>
        </ul>
        <form class="d-flex">
          <a class="nav-link" href="logout"> <i class="fa fa-right-from-bracket"></i> Logout</a>
        </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid ">
    <div class="table-responsive">
      <h1 class="text-center mt-3">List Invoices</h1>
      <table class="table table-striped border text-center ">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Product Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <% for (const item of Object.values(data)) { %>
            <tr>
              <td>
                <%= item.username.fullName %>
              </td>
              <td>
                <%= item.userEmail.email %>
              </td>
              <td>
                <%= item.productName.productName %>
              </td>
              <td>
                <%= item.quantity %>
              </td>
              <td>
                <%= item.productPrice.productPrice %>
              </td>
              <td>
                <%= item.quantity * item.productPrice.productPrice %>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <%- include('../../inc/bottom') %>